Communication:
Slack will be the primary communication tool for all project matters. We will meet after each Tuesday/Thursday class session for a minimum of 30 minutes (if class does not provide us meeting time), and have ad-hoc meetings as needed.

.ipynb_checkpoints
